*{
  box-sizing: border-box;
}

body, html {
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

i {
  font-style: italic;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Space Mono', monospace;
}

.catalog{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

a:link, :active, :visited{
  text-decoration: none;
}


.App-link {
  color: #61dafb;
}
